.fade-game{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: fadeGame 5s;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fade-game-thanks{
    color: white;
    font-size: inherit;
}
@keyframes fadeGame {
    0% {
        background-color: transparent;
        font-size: 0px;
    }
    25% {
        background-color: white;
        font-size: 0px;
    }
    50% {
        background-color: white;
        font-size: 30px;
    }
    60%{
        background-color: black;
        opacity: 1;
        font-size: 30px;
    }
    100%{
        background-color: black;
        opacity: 0;
        font-size: 10px;
    }
}