.product {
    position: relative;
    display: flex;
    justify-content: center;
}
.product-upgrade {
    position: absolute;
    bottom: -20px;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.8);
    cursor: pointer;
    z-index: 500;
}
.product-upgrade.disabled {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fd0000;
    font-weight: bold;
}
.product-level {
    position: absolute;
    top: 80px;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    padding: 5px;
    padding-bottom: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.progress-bar {
    position: absolute;
    bottom: 35px;
    height: 25px;
    width: 100px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid black;
    border-top: 0px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}
.progress-bar-progress {
    display: flex;
    height: 100%;
    flex: 0 1;
    background-color: rgba(255, 255, 255, 0.7);
}
.progress-bar-value {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plus-currencies {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 30%;
    overflow: hidden;
}
.plus-currency {
    display: flex;
    align-items: center;
    position: absolute;
    animation-name: fade-up;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    user-select: none;
    font-size: 20px;
    text-shadow: 0px 0px 10px #FFFFFF;
}
.event-type {
    position:  absolute;
    bottom: 60px;
    padding: 5px 10px;
    border: 1px solid;
    border-radius:  5px;
    background-color: rgba(255, 255, 255, 0.5);
}
.highlight {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    animation: fadein 1s;
    z-index: 100;
}
.highlight-section{
    flex: 1 1 0%;
    padding: 0px 5px;
}
.highlight-field {
    display: flex;
    width: 100%;
    height: auto;
    padding: 2.5px;
    text-align: left;
}
.highlight-field.title {
    font-weight: bold;
}
.highlight-attribute {
    flex: 1 1;
    height: auto;
    text-align: left;
}
.highlight-value {
    flex: 1 1;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.highlight-love-icon {
    display: flex;
    height: 25px;
    width: 25px;
    background-image: url(../../reasorces/images/love.png);
    margin-left: 3px;
}
.highlight-event-select {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.highlight-event-select:hover {
    font-weight: 600;
}