.save-option {
    display: flex;
    padding: 5px;
    padding-top: 40px;
}
.save-button {
    padding: 5px 10px;
    background: rgba(255,255,255,0.8);
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 5px;
    transition:  transform 0.5s;
    cursor: pointer;
}
.save-button:hover{
    transform: scale(1.1);
}
.save-button.button-save {
    color: teal;
    margin: 5px 30px;
}
.save-button.button-reset {
    color: crimson;
}
.save-button.button-reset-hard {
    color: crimson;
    font-weight: bold;
}