.currencies {
    position: absolute;
    top: 0;
    width: 140px;
    height: 110px;
    padding: 10px;
    background-image: url(./../../reasorces/images/sign0.png);
}
.currencies-love {
    position: absolute;
    top: 45px;
    left: 30px;
    right: 30px;
    height: 30px;
    color: black;
    display: flex;
    flex-direction: row;
}
.currencies-love-icon {
    display: flex;
    flex: 2;
    background-image: url(./../../reasorces/images/love.png);
    background-position: center;
    margin-left: 4px;
}
.currencies-love-value {
    flex: 5 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    padding-bottom: 2px;
    user-select: none;
}