.currencies {
    display: flex;
}
.currencies-love {
    position: relative;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 140px;
    height: 110px;
    padding: 20px;
    padding-top: 30px;
    background-image: url(https://i.imgur.com/bh53UKp.png);
    animation: appear-top 2s;
}
.currencies-love-icon {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    background-image: url(https://i.imgur.com/NfCybaI.png);
    background-position: center;
    margin-left: 4px;
}
.currencies-love-value {
    flex: 5 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
    padding-top: 2px;
    user-select: none;
}

@keyframes appear-top {
    0%{
        transform: translateY(-180px);
    }
    75%{
        transform: translateY(-5px);
    }
    95%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}