.product1 {
    background-image: url(https://i.imgur.com/G0KXJDf.jpg);
    background-size: cover;
    padding: 5px;
}
.product1-building{
    height: 95%;
    width: 150px;
    background-image: url(https://i.imgur.com/L1eHWfM.png);
    position: absolute;
    left: 5px;
    bottom: 0px;
}
.product1-title{
    position: absolute;
    top: 0;
    background-image: url(https://i.imgur.com/HVo7Kdj.png);
    background-position: bottom;
    padding: 10px 30px;
    padding-top: 30px;
    background-size: 110%;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.progress-bar {
    background-color: rgba(64, 255, 159, 0.5)
}
.product1 .plus-currencies {
    position: absolute;
    top: 0%;
    bottom: 0;
    right: 0%;
    width: 35%;
}
.highlight{
    flex-direction: row;
}