.product0 {
    background-image: url(https://dynamicmedia.zuza.com/zz/m/original_/e/5/e5b97a2c-d61a-44db-8e80-18cda078adc6/sunshine-006___Super_Portrait.jpg);
    background-size: cover;
    padding: 0px 5px;
}
.product0-building {
    height: 70%;
    background-image: url(https://www.freepnglogos.com/uploads/hand-png/decor-hand-reliable-psd-39.png);
    background-size: 90%;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.product0-title {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    padding: 25px;
    padding-top: 20px;
    background-image: url(https://i.dlpng.com/static/png/6746631_preview.png);
    background-position: center;
    font-weight: bold;
    font-size: 15px;
}
.product0-title-text {
    width: 50px;
    display: flex;
    margin: auto;
}
.highlight {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    animation: fadein 1s;
}
.highlight-field {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
}
.highlight-attribute {
    flex: 1 1;
    height: auto;
    text-align: left;
}
.highlight-value {
    flex: 1 1;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.highlight-love-icon {
    display: flex;
    height: 25px;
    width: 25px;
    background-image: url(../../../reasorces/images/love.png);
    margin-left: 3px;
}
.product-upgrade {
    position: absolute;
    bottom: -20px;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.product-upgrade.disabled {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fd0000;
    font-weight: bold;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}