.product0 {
    background-image: url(https://dynamicmedia.zuza.com/zz/m/original_/e/5/e5b97a2c-d61a-44db-8e80-18cda078adc6/sunshine-006___Super_Portrait.jpg);
    background-size: cover;
    padding: 0px 5px;
}
.product0-building {
    height: 70%;
    background-image: url(../../../reasorces/images/Hand.png);
    background-size: 90%;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.product0-title {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    padding: 25px;
    padding-top: 20px;
    background-image: url(https://i.dlpng.com/static/png/6746631_preview.png);
    background-position: center;
    font-weight: bold;
    font-size: 15px;
}
.product0-title-text {
    width: 50px;
    display: flex;
    margin: auto;
}
.product0 .plus-currencies {
    width: 80%;
    top: 50%;
    bottom:10%;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}