.product0 {
    background-image: url(https://i.imgur.com/6ZO4rY8.jpg);
    background-size: cover;
    padding: 0px 5px;
}
.product0-building {
    height: 70%;
    background-image: url(https://i.imgur.com/B00xNnt.png);
    background-size: 90%;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.product0-title {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    padding: 25px;
    padding-top: 20px;
    background-image: url(https://i.imgur.com/rW74AsX.png);
    background-position: center;
    font-weight: bold;
    font-size: 15px;
}
.product0-title-text {
    width: 50px;
    display: flex;
    margin: auto;
}
.product0 .plus-currencies {
    width: 80%;
    top: 50%;
    bottom:10%;
}
