body{
  font-size: 15px;
}
body *{
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.hide-overflow{
  overflow: hidden;
}
.italic {
  font-style: italic;
}
.love-icon {
  height: 1.5em;
  width: 1.5em;
  margin-left: 3px;
  background-image: url(https://i.imgur.com/NfCybaI.png);
  background-position: center;
}
.treat-icon {
  height: 1.5em;
  width: 1.5em;
  margin-left: 3px;
  background-image: url(https://i.imgur.com/vIOVyPq.png);
  background-position: center;
}
.patience-icon{
  height: 1.5em;
  width: 1.5em;
  margin-left: 3px;
  background-image: url(https://i.imgur.com/DIPnpA9.png);
  background-position: center;
}
.gbp-icon{
  height: 1.5em;
  width: 1.5em;
  margin-left: 3px;
  background-image: url(https://i.imgur.com/2QywaH3.png);
  background-position: center;
}
::-webkit-scrollbar{
  width: 10px;
  background: transparent
}
::-webkit-scrollbar-thumb{
  background: url(https://i.imgur.com/DzCES2V.jpg);
  border-radius: 5px;
}
::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-track{
  background: transparent
}