body{
  font-size: 15px;
}
body *{
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.hide-overflow{
  overflow: hidden;
}

.love-icon {
  height: 1.5em;
  width: 1.5em;
  margin-left: 3px;
  background-image: url(./reasorces/images/love.png);
  background-position: center;
}
.treat-icon {
  height: 1.5em;
  width: 1.5em;
  margin-left: 3px;
  background-image: url(./reasorces/images/treat_8.png);
  background-position: center;
}