body{
  font-size: 15px;
}
body *{
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.hide-overflow{
  overflow: hidden;
}

.treat-icon {
  height: 1em;
  width: 1em;
  margin-left: 3px;
  background-image: url(./reasorces/images/treat_8.png);
}